.home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: antiquewhite; */
}