    .hero {
        width: 100%;
        height: 100vh;
    }
    
    .wrapperHero {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: aqua; */
    }
    
    .heroImg {
        display: block;
        width: 1000px;
    }
    
    .heroLogo {
        width: 400px;
    }
    
    .bgHero {
        position: absolute;
        opacity: 5%;
        z-index: -1;
        width: 100%;
    }
    
    .LogoRes {
        display: none;
    }
    
    @media only screen and (max-width: 1000px) {
        .heroImg {
            display: none;
        }
        .heroLogo {
            display: none;
        }
        .bgHero {
            display: block;
            position: absolute;
            width: 1000px;
        }
        .LogoRes {
            display: block;
            width: 180px;
        }
    }